{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
{% endblock style %}

{% block content %}
<h1 class="title">Home</h1>

{% for product in products %}
  <div class="card" style="width: 18rem;">
    <a href="{{ product.get_absolute_url }}">
      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock content %}
