Django==4.1.7
kavenegar==1.1.2
django-dotenv==1.4.2
Pillow==9.4.0
django-storages==1.13.2
boto3==1.26.103
celery==5.2.7
django-celery-beat==2.5.0
requests==2.28.2
psycopg2==2.9.6
redis==4.5.4
hiredis==2.2.2
