{% load static cache %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'inc/head.html' %}
  {% block style %}{% endblock style %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  {% cache 900 navbdar %}
    {% include 'inc/navbar.html' %}
  {% endcache %}
  {% include 'inc/messages.html' %}

  {% block content %}
  {% endblock content %}

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  {% block script %}
  {% endblock script %}    
</body>
</html>
