{% extends 'base.html' %}
{% load static number %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'product/css/styles.css' %}">
{% endblock style %}

{% block content %}
<h2 class="title">{{ product.name }}</h2>
<small>{{ product.updated }}</small>
<p>
  {{ product.price|format_comma }} Toman
</p>
<img src="{{ product.image.url }}" alt="{{ product.name }}">
<p class="mb-5">
  {{ product.description }}
</p>
<form action="{% url 'cart:add' product.slug %}" method="post">
  {{ form.as_p }}
  <input type="submit" value="Add to cart">
  {% csrf_token %}
</form>
{% endblock content %}
